.navBar{
    background-color: green;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.optionsNavigations ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 180px;
    cursor: pointer;
}

.logo{
    font-size: 24px;
    color: red;
    transition: color 2.5s;
    cursor: pointer;
    font-weight: 900;
}

.searchMovies input{
    height: 45px;
    width: 500px;
    border-radius: 30px;
    font-size: 15px;
}


.list{
    color: black;
    transition: background-color 1.5s;
    cursor: pointer;
    height: 30px;
    width: 200px;
    border-radius: 20px;
    font-weight: 900;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.list:hover{
    text-align: center;
    background-color: white;
    color: black;
    transform: scale(1.2);
    animation: keepSize 0.1s forwards;
}